/* Fonts */

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Share Style */
.secondary_bg{
    background-color: #FFF8F3;
}
.text_primary{
    color: #FD6E0A;
}
.dark_2{
    color: #474747;
}
.dark_3{
    color: #757575;
}
.btn_primary{
    background-color: #FD6E0A;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}
.section_title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section_description{
    font-size: 18px;
    color: #757575;
    margin: 40px 70px;
    text-align: center;
}
.text_center{
    text-align: center;
}


/* header Style */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Bar Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px 0 226px;
}
.nav_title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* Bannar Style */
.banner_greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner_title{
    font-size: 85px;
    font-weight: 900;
}
.banner_description{
    font-size: 18px;
}
.bannar_img{
    max-width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 180px 0 226px;
}
.banner_cantain{
    max-width: 580px;
}
/* main Style */
main{
    max-width: 1150px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About Style */

.about{
    padding: 130px 150px;
    text-align: center;
    
}
.about_items{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 10px;
    margin-top: 50px;
}
.about_item_description{
    font-weight: 600;
}

/* Skill Style */
.skill{
    display: flex;
    gap: 30px;
}
.skiil_container{
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* Resume Style */
.resume_container{
    display: flex;
    gap: 24px;
}
.resume_column{
    padding-right: 50px;
}
.experience_title{
    color: #474747;
    font-size: 25px;
    margin-bottom: -10px;
}
.experience_sub_title{
    color: #757575;
    font-size: 20px;
    margin-bottom: 10px;
}
.experence_description{
    color: #757575;
    font-size: 16px;
}

.reume_btn_cv{
    margin-top: 100px;
}
.reume_btn_cv button{
    padding:20px 40px;
}

/* Footer Style  */
footer{
    padding-bottom: 100px;
}
.footer_containter{
    display: flex;
    gap: 100px;
    max-width: 1150px;
    margin: 0 auto;
    
}
.footer_column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"]{
    height: 64px;
    padding: 5px 10px;
    background-color: #ffffff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}
footer textarea{
    height: 154px;
    padding: 5px 10px;
    background-color: #ffffff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}